<div class="container-fluid col-md-6">
  <h3 class="text-center lead">Add Member to Racing Team</h3>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit(memberForm)">
    <div>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName" />
          <div *ngIf="memberFormControl.firstName.invalid && 
            (memberFormControl.firstName.dirty || 
            memberFormControl.firstName.touched)">
            <div *ngIf="memberFormControl.firstName.errors?.required" class="text-danger">
              First Name is required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName" />
          <div *ngIf="memberFormControl.lastName.invalid && 
            (memberFormControl.lastName.dirty || 
            memberFormControl.lastName.touched)">
            <div *ngIf="memberFormControl.lastName.errors?.required" class="text-danger">
              Last Name is required.
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" formControlName="jobTitle" />
          <div *ngIf="memberFormControl.jobTitle.invalid && 
            (memberFormControl.jobTitle.dirty || 
              memberFormControl.jobTitle.touched)">
            <div *ngIf="memberFormControl.jobTitle.errors?.required" class="text-danger">
              Job Title is required.
            </div>
          </div>
        </div>
        <!--We may have to make a service call to get this list-->
        <div class="col-md-6">
          <select id="team" class="custom-select" formControlName="team">
            <option *ngFor="let team of teams" value="{{team.teamName}}">{{ team.teamName }}</option>
          </select>
          <div *ngIf="memberFormControl.team.invalid && 
            (memberFormControl.team.dirty || 
            memberFormControl.team.touched)">
            <div *ngIf="memberFormControl.team.errors?.required" class="text-danger">
              Team is required.
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <div>
            <label id="activeStatus" class="md-check lead">
              <input type="radio" value="Active" name="status" formControlName="status" /> Active
            </label>
            <label class="md-check lead">
              <input type="radio" value="Inactive" name="status" formControlName="status" /> Inactive
            </label>
          </div>
          <div *ngIf="memberFormControl.status.invalid && 
            (memberFormControl.status.dirty || 
            memberFormControl.status.touched)">
            <div *ngIf="memberFormControl.status.errors?.required" class="text-danger">
              Status is required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Disable if form is invalid-->
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!memberForm.valid">
      Save Member
    </button>
    <button id="cancel" type="button" class="btn btn-secondary" (click)="cancel()">
      Cancel
    </button>
  </form>
</div>
